// Prevents document scrolling when the nav is open
.nb-nav-open {
	max-height: 100%;
	max-height: 100vh;
	max-width: 100%;
	max-width: 100vw;
	overflow: hidden;
}

// Prevents flicker while loading
.uk-navbar-nav[data-uk-nb-nav] {
	max-height: 80px;
	opacity: 0;

	li a {
		min-height: 0;
		color: $blue;
		font-size: 20px;
		transition: $nbSec ease-in-out;
		text-transform: none;
	}

	@media (max-width: $breakpointLarge) {
		li a {
			font-size: 18px;
		}
	}
}

.nb-nav {

	// Show nav after load
	.uk-navbar-nav {
		max-height: none;
		max-width: none;
		opacity: 1;

		.uk-nav-dropdown {
			padding-left: 0;
		}

		>li {

			>a {
				border-top-left-radius: 20px;
				border-top-right-radius: 20px;
				padding: 8px 22px 11px 17px;
				position: relative;

				&.font-chevron-down {
					padding-right: 30px;
				}

				@include hover {
					background-color: $blue;
					color: $white;

					&::before {
						transform: translateY(-83%) rotate(-180deg);
					}
				}
			}

			.font-chevron-down::before {
				position: absolute;
				font-size: 10px;
				color: inherit;
				right: 15px;
				top: 56%;
				transform: translateY(-50%);
				transition: $nbSec ease-in-out;
			}
		}
	}

	&.nb-nav-desktop {
		padding-right: 13px;

		>img {
			display: none;
		}

		.uk-navbar-nav {
			>li:last-of-type {
				display: none;
			}

			.mega-menu {
				position: relative;

				a {
					font-weight: $bold;
				}

				.uk-navbar-dropdown {
					width: 100%;
					max-width: 900px;
					border-radius: 20px;
					padding: 0;
					overflow: hidden;
					left: -220px !important;
					position: absolute;
					top: 100% !important;
					min-width: 900px;
				}

				.uk-nav-dropdown {
					margin: 0;
					display: flex;
					flex-wrap: wrap;
					flex-direction: row;

					li {
						width: calc(100% / 3);
						text-align: center;

						a {
							border-radius: 0;
							border: 1px solid transparent;
						}

						&:not(:nth-last-of-type(3)) a {
							border-bottom-color: $gray-mid;
						}

						&:nth-of-type(2) a,
						&:nth-of-type(5) a {
							border-left-color: $gray-mid;
							border-right-color: $gray-mid;
						}

						&:first-of-type svg path:last-of-type,
						&:nth-of-type(2) svg path:last-of-type,
						&:nth-of-type(3) svg .st1,
						&:nth-of-type(4) svg .st0,
						&:nth-of-type(5) svg path:first-of-type,
						&:last-of-type svg .st1 {
							fill: $lime;
						}

						@include hover {
							svg path {
								fill: $white;
							}
						}
					}

					a {
						min-height: 215px;
						display: flex;
						flex-direction: column;
						justify-content: space-around;
						padding: 15px 15px 20px;
						overflow: hidden;
						z-index: 2;
						position: relative;

						@include hover {
							color: $blue;

							span {

								&::after,
								&::before {
									transform-origin: 50% 50%;
									top: 50%;
									transform: translate(-50%, -50%);
								}

								&::after {
									width: 120px;
									height: 120px;
									background-color: $blue;
								}

								&::before {
									height: 350px;
									width: 350px;
								}
							}
						}
					}

					span {
						display: flex;
						justify-content: center;
						position: relative;
						align-self: center;
						width: 155px;
						height: 155px;
						align-items: center;
						top: 5px;
						z-index: -1;

						&::after,
						&::before {
							position: absolute;
							content: '';
							left: 50%;
							transform: translateX(-50%);
							border-radius: 50%;
							transition: $nbSec ease-in-out;
						}

						&::before {
							background-color: $blue-lightest-3;
							top: 0;
							width: 100%;
							height: 100%;
						}

						&::after {
							background-color: $blue-lightest-2;
							top: 30px;
							width: 100px;
							height: 100px;
						}
					}

					svg {
						height: 55px;
						width: auto;
						position: relative;
						z-index: 1;

						path {
							fill: $blue;
							transition: $nbSec ease-in-out;
						}
					}
				}
			}

			.uk-active>a {
				background-color: $blueish;
				border-radius: 50px;

				@include hover {
					background-color: $blue;
					border-bottom-left-radius: 0;
					border-bottom-right-radius: 0;
					border-top-left-radius: 20px;
					border-top-right-radius: 20px;
				}
			}
		}

		.uk-navbar-dropdown {
			background-color: $white;
			border-bottom-left-radius: 20px;
			border-top-right-radius: 20px;
			border-bottom-right-radius: 20px;
			padding: 25px 10px 30px 10px;
			min-width: 310px;
			margin-top: 0;

			.uk-navbar-dropdown {
				border-radius: 20px;
				left: 100% !important;
				top: 0 !important;
			}

			ul {
				margin-bottom: 0;
			}

			li {
				position: relative;
				padding: 0;

				a {
					border-radius: 50px;
					padding: 13px 30px 13px 35px;
					display: block;
					position: relative;

					&::before {
						position: absolute;
						color: inherit;
						opacity: 0;
						right: 25px;
						transition: inherit;
						top: 26px;
						font-size: 12px;
						font-weight: $bold;
					}

					@include hover {
						background-color: $blue-lightest;
						text-decoration: none;

						&::before {
							opacity: 1;
						}
					}
				}
			}
		}
	}

	&.nb-nav-mobile {
		z-index: 1001;
		height: 2px;
		width: 18px;
		position: absolute;
		right: 19px;
		top: 56%;
		overflow: hidden;
		left: auto;
		padding: 135px 30px 0;

		&::before,
		&::after {
			position: absolute;
			right: 0;
			content: '';
			height: 0;
			top: 0;
			width: 0;
			opacity: 0;
			display: block;
			z-index: -1;
		}

		&::after {
			width: 100%;
			bottom: 0;
		}

		>img {
			display: block;
			position: absolute;
			width: 250px;
			top: 0;
			left: 12px;
			z-index: 1025;
		}

		&.nb-nav-mobile[aria-hidden="false"] {
			overflow: visible;
			animation: opening 1.2s ease forwards;

			&:after {
				animation: openingBckg 1.2s ease forwards;
			}

			&::before {
				animation: openingSecondCircle 1.7s cubic-bezier(.68, -.55, .265, 1.55) forwards;
			}

			.uk-navbar-nav {
				animation: openingNav 1.5s cubic-bezier(.68, -.55, .265, 1.55) forwards;

				li {
					animation: openingNavItems 1.2s cubic-bezier(.68, -.55, .265, 1.55) forwards;

					&:nth-of-type(1) {
						animation-delay: .05s;
					}

					&:nth-of-type(2) {
						animation-delay: .10s;
					}

					&:nth-of-type(3) {
						animation-delay: .15s;
					}

					&:nth-of-type(4) {
						animation-delay: .20s;
					}

					&:nth-of-type(5) {
						animation-delay: .25s;
					}
				}
			}
		}

		.uk-navbar-nav {
			height: 0;
			width: 0;
			opacity: 0;
			// overflow: hidden;
			display: block;
			position: relative;
			left: 100%;

			>li:last-of-type {
				display: block;

				a {
					color: $lime;
				}
			}

			li {
				height: auto;
				right: -100%;
				position: relative;
				padding: 0;
				text-align: right;

				li a {
					padding: 10px 60px;
				}

				a {
					display: inline-block;
					border-radius: 50px;
					color: $white;
					padding: 10px 50px;
					font-size: 30px;
					font-weight: $bold;
					position: relative;

					&.font-chevron-down {
						padding-right: 60px;

						&::before {
							content: font-char($chevron-right);
							bottom: auto;
							left: auto;
							right: 30px;
							color: $lime;
							transform: translateY(-33%);
							font-size: 14px;
							font-weight: $bold;
						}
					}

					&.font-chevron-right::before {
						display: 35px;
						font-size: 14px;
						top: 57%;
						transform: translateY(-50%);
						position: absolute;
						right: 35px;
						color: $lime;
						font-weight: $bold;
					}

					@include hover {
						text-decoration: none;
						background-color: $blue-lightest-5;
					}
				}
			}
		}

		.uk-navbar-toggle span {
			background-color: $white;
		}

		.uk-navbar-dropdown {
			background-color: transparent;
			border-radius: 50%;
			box-shadow: none;
			height: 100vh;
			left: 0 !important;
			padding: 0 0 $ukGutter;
			top: 0 !important;
			width: 100%;
			margin-top: 0;

			li a {
				font-size: 30px;
				font-weight: normal;

				span {
					display: none;
				}
			}

			&::before {
				position: absolute;
				border-radius: 50%;
				background-color: $blue;
				right: -345px;
				top: -596px;
				height: 1145px;
				width: 1145px;
				content: '';
			}

			.nb-nav-back {
				font-size: 22px;
				padding-left: 25px;

				&::before {
					left: 0;
					font-size: 12px;
					color: $lime;
					position: absolute;
					font-family: 'svgicons';
					content: font-char($chevron-left);
					top: 56%;
					transform: translateY(-50%);
				}

				@include hover {
					background-color: transparent;
					color: $lime;
				}
			}

			.nb-nav-title {
				font-size: 30px;
				font-weight: $bold;
				margin: 10px 0 5px;
			}
		}

		.uk-navbar-dropdown-nav {
			li:not(:first-of-type):not(:nth-of-type(2)) {
				padding-left: 25px;
			}
		}
	}
}


@keyframes opening {
	0% {
		opacity: 1;
		z-index: 1003;
	}

	100% {
		height: 100vh;
		width: calc(100% + 50px);
		right: -40px;
		top: 0;
		border-radius: 50%;
		z-index: 1002;
	}
}

@keyframes openingBckg {
	0% {
		background-color: $white;
		opacity: 1;
	}

	15% {
		opacity: .5;
	}

	100% {
		background-color: $blue;
		right: -315px;
		top: -460px;
		height: 1145px;
		width: 1145px;
		background-color: $blue;
		border-radius: 50%;
		opacity: 1;
	}
}


@keyframes openingSecondCircle {
	0% {
		width: 0;
		height: 0;
	}

	100% {
		width: 1230px;
		height: 1230px;
		top: -450px;
		right: -340px;
		border-radius: 50%;
		background-color: $lime;
		opacity: 1;
	}
}

@keyframes openingNav {
	0% {
		width: 0;
		height: 0;
		opacity: 0;
		left: 100%;
	}

	100% {
		width: 100%;
		height: 100%;
		opacity: 1;
		left: 0;
	}
}

@keyframes openingNavItems {
	0% {
		right: -100%;
	}

	100% {
		right: 0;
	}
}
