.about-section {
    position: relative;

    .uk-container {
        margin-top: -145px;
    }

    h3 {
        margin-bottom: 60px;
        font-size: 44px;
    }

    @media (max-width: $breakpointLarge) {
        h3 {
            max-width: 35%;
            margin: 0 auto 30px;
        }
    }

    @media (max-width: $breakpointMedium) {
        h3 {
            font-size: 34px;
            max-width: 63%;
        }
    }

    @media (max-width: $breakpointTabletPortraitMin) {
        h3 {
            font-size: 18px;
            max-width: 80px;
            margin: 0 auto 20px;
        }

        >.uk-container {
            background-color: $white;
            border-radius: 15px;
            box-shadow: 0 5px 22px 9px rgba($black, .1);
            position: relative;
            max-width: calc(100% - 40px);
            padding: 0;
        }
    }
}

.about-inner {
    height: 700px;
    border-radius: 50px;
    width: calc(100% - 40px);
    margin: 0 auto;

    @media (max-width: $breakpointMedium) {
        height: 660px;
        width: 100%;
        border-radius: 0;
    }
}

.about-text {
    z-index: 1;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 185px;
    margin: 0 auto;
    position: relative;

    * {
        color: $white;
    }

    h2 {
        margin-bottom: 20px;
        font-size: 54px;
    }

    p {
        margin-top: 0;
        margin-bottom: 25px;
    }

    .uk-button {
        border-color: $white;
        padding-left: 40px;
        min-width: 235px;

        @include hover {
            border-color: $blue;
        }
    }

    @media (max-width: $breakpointMedium) {
        padding-bottom: 190px;
        width: calc(100% - 80px);

        h2 {
            font-size: 44px;
            margin-bottom: 15px;
        }

        p {
            font-size: 18px;
            margin-bottom: 25px;
        }
    }

    @media (max-width: $breakpointTabletPortraitMin) {
        padding-bottom: 185px;
        width: calc(100% - 40px);

        h2 {
            font-size: 34px;
            margin-bottom: 25px;
        }

        p {
            font-size: 16px;
            margin-bottom: 35px;
        }

        .uk-button {
            max-width: 280px;
            width: 100%;
        }
    }
}

.ies-wrap {
    box-shadow: 0 5px 22px 9px rgba($black, .1);
    overflow: hidden;
    border-radius: 50px;

    .dots-bg {
        bottom: 0;

        &.blue {
            top: -5px;
        }
    }

    @media (max-width: $breakpointLarge) {
        .dots-bg {
            bottom: 0;

            &.blue {
                top: 0;
            }
        }
    }

    @media (max-width: $breakpointTabletPortraitMin) {
        box-shadow: none;

        .dots-bg {
            width: 45px;
            height: 130px;
        }
    }
}

.ies-detect {
    width: 100%;
    height: 1px;
    opacity: 0;
    display: inline-block;
}

.ies-container {
    background-color: $white;
    border-radius: 50px;
    min-height: 780px;
    position: relative;
    padding: 80px 20px 125px;
    z-index: 1;

    @media (max-width: $breakpointMedium) {
        padding: 50px 20px;
        min-height: 550px;
    }

    @media (max-width: $breakpointTabletPortraitMin) {
        padding: 15px 0 25px;
        min-height: 340px;
        max-width: 280px;
        margin: 0 auto;
        background-color: transparent;
        box-shadow: none;
    }
}

.renewables,
.flexi-cloud {
    position: absolute;
}

.renewables-wrap {
    position: absolute;
    top: -145px;
    left: -140px;
    width: 275px;
    height: 195px;

    .triangle-left {
        position: absolute;
        content: '';
        width: 30%;
        height: 74%;
        right: 8%;
        z-index: 0;
        bottom: -18%;
        border-right: 2px solid $lime;
        border-top: 2px solid $lime;
        border-top-right-radius: 50px;
        transform: rotate(-32deg);

        &::after,
        span,
        span::before {
            position: absolute;
            content: '';
        }

        &::after {
            background-color: $blue;
            border-radius: 50%;
            bottom: 0;
            right: 0;
            width: 12px;
            height: 12px;
            transform: translateX(50%);
        }

        span {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 27px 16.5px 0;
            border-color: $lime transparent transparent;
            top: 50%;
            left: 100%;
            transform: translate(-48.5%, -25%);

            &::before {
                left: -11.5px;
                top: -24px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 18.5px 11px 0;
                border-color: $blue-ies-triangle transparent transparent;
            }
        }
    }

    @media (max-width: $breakpointLarge) {
        left: -63px;
        width: 190px;
        height: 190px;

        .triangle-left {
            bottom: -11%;
            right: -5%;
        }
    }

    @media (max-width: $breakpointMedium) {
        left: -150px;
        top: -125px;
        width: 170px;
        height: 170px;

        .triangle-left {
            bottom: -7%;
            right: -16%;
            width: 18%;
            height: 51%;

            &::after {
                width: 9px;
                height: 9px;
            }

            span {
                border-width: 18px 10px 0;
                transform: translate(-43.5%, -25%);

                &::before {
                    left: -7px;
                    top: -16px;
                    border-width: 12px 7px 0;
                }
            }
        }
    }

    @media (max-width: $breakpointTabletPortraitMin) {
        left: -47px;
        width: 100px;
        height: 100px;
        top: -90px;

        .triangle-left {
            width: 2px;
            height: 24px;
            left: 83%;
            bottom: -8%;
            border-radius: 0;
            transform: rotate(-37deg);

            &::after {
                width: 5px;
                height: 5px;
                right: -1px;
            }

            span {
                border-width: 10px 6px 0;
                top: 35%;

                &::before {
                    left: -4.5px;
                    top: -9px;
                    border-width: 6.5px 4.5px 0;
                }
            }
        }
    }
}

.renewables {
    background-color: $white;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    box-shadow: 0 5px 22px 9px rgba($black, .1);
    border: 3px solid $lime;
    padding: 23px 17px 25px;
    top: 0;
    left: 0;
    z-index: 1;


    img {
        max-width: calc(100% / 3);
        width: 100%;
        position: relative;

        &:first-of-type,
        &:last-of-type {
            top: 20px;
        }

        &:nth-of-type(2) {
            margin: 0 3px;
        }
    }

    span {
        font-weight: $bold;
        font-size: 18px;
        color: $blue;
        line-height: 1;
        display: block;
    }

    @media (max-width: $breakpointLarge) {
        width: 150px;
        height: 150px;
    }

    @media (max-width: $breakpointMedium) {
        width: 115px;
        height: 115px;
        top: 57px;
        left: 50px;
        padding: 15px 17px;
        border-width: 2px;

        span {
            font-size: 12px;
        }

        img {

            &:first-of-type,
            &:last-of-type {
                top: 10px;
            }
        }
    }

    @media (max-width: $breakpointTabletPortraitMin) {
        width: 80px;
        height: 80px;
        top: 20px;
        left: 13px;
        padding: 10px 8px;
        border-width: 1px;

        span {
            font-size: 8px;
        }

        img:nth-of-type(2) {
            margin: 0 1px;
        }
    }
}

.flexi-cloud {
    width: 200px;
    min-height: 130px;
    top: 50px;
    right: 75px;
    background-color: $white;

    >span {
        position: absolute;
        content: '';
        width: 77px;
        height: 30px;
        right: 96%;
        z-index: 0;
        top: 74%;
        border-right: 2px solid $lime;
        border-top: 2px solid $lime;
        border-top-right-radius: 50px;
        transform: rotate(-58deg);

        img {
            position: absolute;
            right: 67%;
            top: -150%;
            width: 170px;
            height: auto;
            transform: rotate(-80deg);
        }
    }

    >.uk-svg,
    >.uk-svg:not(.uk-preserve) [fill*='#']:not(.uk-preserve) {
        fill: $lime;
    }

    >div {
        z-index: 5;
        padding-top: 60px;

        span {
            line-height: 1;
            font-weight: $bold;
            color: $blue;

            &:first-of-type {
                font-size: 28px;
                margin-bottom: 5px;
            }

            &:last-of-type {
                font-size: 17px;
            }
        }
    }

    @media (max-width: $breakpointLarge) {
        right: 30px;

        >span {
            width: 63px;
            height: 24px;
        }
    }

    @media (max-width: $breakpointMedium) {
        width: 125px;
        min-height: 130px;
        top: 40px;
        right: 20px;

        >span {
            width: 45px;
            height: 23px;
            right: 98%;
            top: 45%;
            transform: rotate(-67deg);

            img {
                position: absolute;
                right: 67%;
                top: -120%;
                width: 59px;
                height: auto;
                transform: rotate(-80deg);
            }
        }

        >div {
            padding-top: 40px;
            text-align: right;
            padding-right: 15px;

            span {

                &:first-of-type {
                    font-size: 18px;
                    margin-bottom: 0;
                }

                &:last-of-type {
                    font-size: 10px;
                }
            }
        }
    }

    @media (max-width: $breakpointTabletPortraitMin) {
        background-color: transparent;
        width: 90px;
        min-height: 60px;
        top: 25px;
        right: 18px;

        >span {
            width: 12px;
            height: 2px;
            right: 62%;
            top: 103%;
            transform: rotate(-55deg);

            img {
                right: 74%;
                top: -5.5px;
                transform: rotate(-100deg);
            }
        }

        >div {
            padding-top: 30px;

            span {

                &:first-of-type {
                    font-size: 14px;
                }

                &:last-of-type {
                    font-size: 8px;
                }
            }
        }
    }
}

.ies-box,
.ies-box-inner {
    border-radius: 50%;
}

.ies-box {
    max-width: 710px;
    height: 455px;
    width: 100%;
    padding: 20px;
    position: relative;

    .uk-svg:not(.uk-preserve) [stroke*='#']:not(.uk-preserve) {
        stroke: $lime;
        fill: none;
    }

    .ellipse {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        bottom: 0;

        path {
            stroke-width: 4px;
        }

        &:nth-of-type(2),
        &:last-of-type {
            display: none;
        }
    }

    @media (max-width: $breakpointMedium) {
        max-width: 430px;
        height: 273px;
        padding: 10px;

        .ellipse {
            &:nth-of-type(2) {
                display: block;
            }

            &:first-of-type,
            &:last-of-type {
                display: none;
            }
        }
    }

    @media (max-width: $breakpointTabletPortraitMin) {
        max-width: 190px;
        width: 190px;
        height: 190px;

        .ellipse {
            &:last-of-type {
                display: block;
            }

            &:first-of-type,
            &:nth-of-type(2) {
                display: none;
            }
        }
    }
}

.ies-box-inner {
    background-color: $blue-table-light;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 27px;

    svg {
        max-height: 100%;
        width: 100%;
    }

    >.uk-svg,
    >.uk-svg:not(.uk-preserve) [fill*='#']:not(.uk-preserve) {
        fill: $lime;
    }

    >.uk-svg:not(.uk-preserve) [stroke*='#']:not(.uk-preserve) {
        stroke: $white;
    }
}

.ies-pins {
    margin: 0;
    padding: 0;

    li {
        padding: 0 3px 3px 0;
        width: 68px;
        position: absolute;
        z-index: 2;

        &:first-of-type {
            top: 30%;
            right: 61.5%;
        }

        &:nth-of-type(2) {
            top: 13%;
            right: 43%;
        }

        &:nth-of-type(3) {
            top: 55.5%;
            right: 28.2%;
        }

        &:nth-of-type(4) {
            top: 63.7%;
            right: 64%;
        }

        &:nth-of-type(5) {
            top: 53.7%;
            right: 53%;
        }

        &:last-of-type {
            top: 39.7%;
            right: 42%;
        }

        img {
            max-width: 100%;
            position: absolute;
            left: 50%;
            top: 50%;
            width: 68px;
            height: auto;
            transform: translate(-50%, -50%);
        }
    }

    @media (max-width: $breakpointMedium) {
        li {
            &:first-of-type {
                top: 31%;
                right: 57.5%;
            }

            &:nth-of-type(2) {
                top: 14%;
                right: 39.5%;
            }

            &:nth-of-type(3) {
                top: 58.5%;
                right: 24.2%;
            }

            &:nth-of-type(4) {
                top: 60.7%;
                right: 58%;
            }

            &:nth-of-type(5) {
                top: 49.7%;
                right: 49.5%;
            }

            &:last-of-type {
                right: 39%;
            }

            img {
                width: 45px;
            }
        }
    }

    @media (max-width: $breakpointTabletPortraitMin) {
        li {
            &:first-of-type {
                right: 47.5%;
            }

            &:nth-of-type(2) {
                top: 10%;
                right: 26.5%;
            }

            &:nth-of-type(3) {
                top: 54.5%;
                right: 9.2%;
            }

            &:nth-of-type(4) {
                top: 57.7%;
                right: 48%;
            }

            &:nth-of-type(5) {
                top: 50.7%;
                right: 37.5%;
            }

            &:last-of-type {
                top: 39.7%;
                right: 26%;
            }

            img {
                width: 20px;
            }
        }
    }
}

.ies-links {
    padding: 0;
    margin: 0;
    z-index: 1;

    li {
        width: 160px;
        height: 160px;
        position: absolute;

        &::before,
        &::after {
            position: absolute;
            left: 50%;
            width: 12px;
            height: 12px;
            background-color: $blue;
            border-radius: 50%;
            content: '';
            z-index: 2;
        }

        &::before {
            top: 0;
            transform: translate(-50%, -50%);
        }

        &::after {
            bottom: 0;
            transform: translate(-50%, 50%);
        }

        >div {
            box-shadow: 0 5px 22px 9px rgba($black, .1);
            background-color: $lime;
            border: 2px solid $lime;
            border-radius: 50%;
            left: 0;
            top: 0;
            width: 100%;
            bottom: 0;
            color: $blue;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 20px 0 30px;
            position: absolute;
            overflow: hidden;
            transition: $nbSec ease-in-out;
        }

        * {
            transition: inherit;
        }

        &:first-of-type {
            left: 0;
            top: 50%;
            transform: translate(-46%, -50%);

            .uk-svg path {

                &:first-of-type {
                    fill: $blue-ies-icon;
                }

                &:last-of-type {
                    fill: $white;
                }
            }
        }

        &:nth-of-type(2) {
            left: 50%;
            bottom: 0;
            transform: translate(-50%, 57%);

            &::before {
                top: 50%;
                left: 0;
                transform: translate(-50%, -50%);
            }

            &::after {
                bottom: 50%;
                right: 0;
                left: auto;
                transform: translate(50%, 50%);
            }

            .uk-svg path {

                &:first-of-type {
                    fill: $white;
                }

                &:last-of-type {
                    fill: $blue-ies-icon;
                }
            }
        }

        &:last-of-type {
            right: 0;
            top: 50%;
            transform: translate(46%, -50%);

            .uk-svg path {

                &:first-of-type {
                    fill: $blue-ies-icon;
                }

                &:last-of-type {
                    fill: $white;
                }
            }
        }

        a {
            z-index: 1;
        }

        img,
        svg {
            display: block;
        }

        svg {
            max-height: 78px;
            height: 78px;
            width: auto;
        }

        .font-arrow-right {
            z-index: 0;
            bottom: 0;
            transform: translateY(100%);
            position: absolute;
            font-size: 14px;
            padding-bottom: 20px;
            line-height: 1;
            width: 100%;
            left: 0;
            text-align: center;

            &::before {
                bottom: 0;
                font-size: inherit;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        .uk-text-uppercase {
            font-weight: $bold;
            font-size: 18px;
        }

        .uk-svg path {
            z-index: 0;
            position: relative;
        }

        @include hover {
            >div {
                background-color: $blue;
            }

            &:first-of-type {

                .uk-svg path:first-of-type,
                .uk-svg path:last-of-type {
                    fill: $white;
                }
            }

            &:nth-of-type(2) {

                .uk-svg path:first-of-type,
                .uk-svg path:last-of-type {
                    fill: $white;
                }
            }

            &:last-of-type {

                .uk-svg path:first-of-type,
                .uk-svg path:last-of-type {
                    fill: $white;
                }
            }

            span,
            a {
                color: $white;
            }

            .font-arrow-right {
                transform: translateY(-20px);
            }

            svg {
                max-height: 45px;
                height: 45px;
            }
        }
    }

    @media (max-width: $breakpointMedium) {
        li {
            width: 100px;
            height: 100px;

            &:first-of-type {
                left: 3px;
            }

            &:nth-of-type(2) {
                bottom: 2px;
            }

            &:last-of-type {
                right: 3px;
            }

            &::before,
            &::after {
                width: 9px;
                height: 9px;
            }

            >div {
                padding: 15px 0 20px;
            }

            svg {
                height: 50px;
            }

            .uk-text-uppercase {
                font-size: 12px;
            }

            .font-arrow-right {
                font-size: 10px;

                &::before {
                    bottom: 5px;
                }
            }

            @include hover {
                svg {
                    height: 25px;
                }

                .font-arrow-right {
                    transform: translateY(20%);

                    &::before {
                        bottom: 9px;
                    }
                }
            }
        }
    }

    @media (max-width: $breakpointTabletPortraitMin) {
        li {
            width: 70px;
            height: 70px;

            &:first-of-type {
                left: -4.5px;
            }

            &:last-of-type {
                right: -5px;
            }

            &::before,
            &::after {
                width: 6px;
                height: 6px;
            }

            >div {
                padding: 10px 0 15px;
            }

            svg {
                height: 35px;
            }

            .uk-text-uppercase {
                font-size: 10px;
            }

            .font-arrow-right {
                font-size: 8px;
            }

            @include hover {
                svg {
                    height: 20px;
                }
            }
        }
    }
}

.ies-triangles {
    margin: 0;
    padding: 0;
    left: -22px;
    width: calc(100% + 44px);
    height: calc(100% + 44px);
    top: -22px;

    li {
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 16.5px 0 16.5px 27px;
        border-color: transparent transparent transparent $lime;
        opacity: 0;

        &::before {
            position: absolute;
            content: '';
            left: -25.5px;
            top: -11px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 11px 0 11px 18.5px;
            border-color: transparent transparent transparent $blue-ies-triangle;
            z-index: -1;
        }

        &:nth-of-type(2) {
            left: calc(100% / 6);
            transform: rotate(27deg);
            bottom: 38px;
        }

        &:last-of-type {
            right: calc(100% / 6);
            transform: rotate(-27deg);
            bottom: 39px;
        }

        &:first-of-type {
            border-width: 16.5px 27px 16.5px 0;
            border-color: transparent $lime transparent transparent;
            top: 3px;
            left: 50%;
            bottom: auto;
            transform: translate(-50%, -50%);

            &::before {
                left: 5.5px;
                top: -11px;
                border-width: 11px 18.5px 11px 0;
                border-color: transparent $blue-ies-triangle transparent transparent;
            }
        }
    }

    @media (max-width: $breakpointMedium) {
        li {
            border-width: 10px 0 10px 18px;

            &::before {
                border-width: 7px 0 7px 12px;
                left: -16.5px;
                top: -7px;
            }

            &:nth-of-type(2),
            &:last-of-type {
                bottom: 36px;
            }

            &:first-of-type {
                border-width: 10px 18px 10px 0;
                top: 13px;

                &::before {
                    left: 4px;
                    top: -7px;
                    border-width: 7px 12px 7px 0;
                }
            }
        }
    }

    @media (max-width: $breakpointTabletPortraitMin) {
        li {
            border-width: 8px 0 8px 13px;


            &::before {
                border-width: 5px 0 5px 8px;
                left: -12px;
                top: -5px;
            }

            &:first-of-type {
                border-width: 8px 13px 8px 0;
                bottom: 12px;

                &::before {
                    left: 3px;
                    top: -5px;
                    border-width: 5px 8px 5px 0;
                }
            }

            &:nth-of-type(2) {
                bottom: 29px;
            }

            &:last-of-type {
                bottom: 30.5px;
                transform: rotate(-35deg);
            }
        }
    }
}

.ies-triangle-animation li {
    animation: triangleOpacity 2s linear forwards;

    &:nth-of-type(2) {
        animation-delay: .7s;
    }

    &:last-of-type {
        animation-delay: .35s;
    }

    @media (max-width: $breakpointMedium) {
        &:first-of-type {
            animation-delay: .7s;
        }

        &:nth-of-type(2) {
            animation-delay: .35s;
        }

        &:last-of-type {
            animation-delay: 0s;
        }
    }
}

@keyframes triangleOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
