//----------  banner
//------------------------------------------------------------------------------
.banner {
	// min-height: 500px;
	position: relative;

	.circle {
		overflow: hidden;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		bottom: 0;
		z-index: -1;

		span {
			position: absolute;
			background-color: $lime;
			content: '';
			height: calc(50vw + 150px);
			width: calc(50vw + 150px);
			border: 57px solid $lime;
			border-radius: 50%;
			right: -150px;
			top: 55px;
			box-shadow: 0 0 0 200px $blue-lightest;
			z-index: 0;
		}
	}

	h1 {
		margin-bottom: 0;

		+* {
			margin-top: 25px;
		}
	}

	.font-dots-bg {
		top: 295px;
	}

	.font-info {
		position: absolute;
		bottom: 40px;
		right: 75px;
		width: 20px;
		height: 20px;

		&::before {
			position: absolute;
			color: $white;
			font-size: 20px;
			top: 5px;
			line-height: 1;
			left: 0;
		}
	}

	&.banner-large {
		margin-top: 142px;
		min-height: 650px;

		.uk-container {
			width: 100%;
		}

		.circle {
			overflow: visible;
			bottom: auto;
			height: 1300px;

			span {
				top: -85px;
			}
		}
	}

	&.services {
		padding-top: 0;

		.banner-inner {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;

			.uk-breadcrumb {
				margin-top: 5px;
			}
		}
	}

	&.banner-map {
		.circle {
			.uk-background-cover {
				background-color: rgba($blue-mid, .9);
			}

			.uk-svg {
				max-height: 300px;
				width: auto;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				top: 60px;

				path {
					fill: $white;
				}
			}
		}
	}

	@media (max-width: $breakpointLarge) {
		.circle {
			span {
				box-shadow: 0 0 0 115px $blue-lightest;
				border: 30px solid $lime;
				top: 90px;
				right: -170px;
			}
		}

		&.banner-map {
			.circle .uk-svg {
				transform: translateX(-60%);
			}
		}
	}

	@media (max-width: $breakpointMedium) {
		h1 {
			font-size: 44px;
		}

		&.banner-large {
			min-height: 500px;
		}

		&.banner-map {
			.circle .uk-svg {
				transform: translateX(-75%);
				max-height: 230px;
			}
		}
	}

	@media (max-width: $breakpointSmall) {
		h1 {
			font-size: 34px;

			+* {
				margin-top: 5px;
			}
		}

		.font-info {
			bottom: 30px;
			right: 40px;
		}

		&.banner-large {
			min-height: 340px;
		}

		&.banner-map {
			.circle .uk-svg {
				max-height: 200px;
			}
		}
	}

	@media (max-width: $breakpointMobile) {
		&:not(.banner-large) {
			text-align: center;
		}

		.circle {
			position: relative;
			min-height: 430px;

			span {
				box-shadow: 0 0 0 75px $blue-lightest;
				border: 15px solid $lime;
				top: 60px;
				right: auto;
				left: 50%;
				transform: translateX(-50%);
				height: 280px;
				width: 280px;
				display: block;
				position: relative;
			}
		}

		&.banner-large {
			margin: 120px 0 10px;
			h1 {
				margin-bottom: 20px;
			}
			.circle {
				position: absolute;
			}
		}

		&.banner-map {
			.circle {
				span {
					top: 70px;
				}

				.uk-svg {
					transform: translate(-50%, -50%);
					top: 50%;
					max-height: 165px;
				}
			}
		}
	}
}

.banner-inner {
	min-height: 500px;
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-bottom: 55px;

	@media (max-width: $breakpointMobile) {
		padding-bottom: 0;
		min-height: auto;
		margin-top: -70px;
	}
}

.banner-container {
	position: absolute;
	z-index: 2;
	padding: 0 40px;
	left: 0;
	top: 0;
	width: 100%;
	bottom: 0;
	content: '';

	.uk-background-cover {
		border-radius: 20px;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}

	h1 {
		color: $white;
		font-size: 54px;
	}

	@media (max-width: $breakpointSmallMax) {
		.uk-container {
			max-width: calc(100% - 60px);
		}

		h1 {
			font-size: 44px;
			max-width: 85%;
		}
	}

	@media (max-width: $breakpointSmall) {
		padding: 0 15px;

		.uk-container {
			max-width: calc(100% - 30px);
		}

		h1 {
			font-size: 34px;
		}
	}
}
