.enquiry-section {
    padding: 65px 0 0;

    .nb-block-form {
        padding-bottom: 335px;
    }

    .uk-card {
        border-radius: 20px;
        max-width: 375px;
        width: 100% !important; // sass-lint:disable-line no-important

        .uk-card-title,
        a {
            color: $blue;
        }

        .uk-card-title {
            font-size: 22px;
            margin-bottom: 15px;
        }

        h4 {
            font-size: 16px;
            font-family: $ubuntu;
            margin: 35px 0 10px;
        }

        p {
            font-size: 16px;
            margin-top: 15px;
        }

        h4+p {
            margin: 10px 0 5px;
        }

        ul {
            padding-left: 0;
            margin-top: 5px;

            li {
                margin-bottom: 10px;
            }
        }

        a {
            display: inline-block;
            font-family: $ubuntu;
            position: relative;
            padding-left: 40px;
            z-index: 0;

            &::after {
                content: '';
                position: absolute;
                z-index: -1;
                width: calc(100% - 40px);
                height: 2px;
                left: 40px;
                bottom: 0;
                background-color: $lime-dark;
                transition: inherit;
            }

            &::before {
                position: absolute;
                left: 0;
                top: 8px;
                font-size: 20px;
            }

            @include hover {
                color: $white;

                &::before {
                    color: $blue;
                }

                &::after {
                    height: 100%;
                }
            }
        }
    }

    .uk-card-body {
        padding: 30px 40px;
    }

    fieldset:not(:last-of-type) {
        label {
            text-transform: none;
            font-size: 20px;
            margin-bottom: 15px;
            position: relative;
            padding-left: 50px;
            cursor: pointer;

            .checkmark {
                border: 2px solid $blue-pastel-light;
                border-radius: 5px;
                width: 32px;
                height: 32px;
                display: block;
                position: absolute;
                top: 0;
                left: 0;

                &::after {
                    content: '';
                    position: absolute;
                    display: none;
                    left: 9px;
                    top: 3px;
                    width: 10px;
                    height: 18px;
                    border: solid $white;
                    border-width: 0 4px 4px 0;
                    transform: rotate(45deg);
                }
            }
        }
    }
}

.uk-sticky {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 100%;
    top: 0;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;

    .uk-card-body {
        padding: 30px 40px;
        right: 0;
        position: absolute;
        top: 70px;
    }

    &.uk-active {
        .uk-card-body {
            right: 0;
        }
    }

    @media (max-width: 1280px) and (min-width: $breakpointMedium) {
        max-width: 100%;

        .uk-card-body {
            right: 40px;
        }

        &.uk-active {
            .uk-card-body {
                right: 40px;
            }
        }
    }

    @media (max-width: $breakpointMedium) {
        position: relative !important; // sass-lint:disable-line no-important
        left: auto !important; // sass-lint:disable-line no-important
        transform: none;
        padding-left: 40px;
        padding-right: 40px;
        top: auto !important; // sass-lint:disable-line no-important

        .uk-card-body {
            position: relative;
            top: auto;
            right: auto;
        }
    }

    @media (max-width: $breakpointSmallMax) {
        padding-left: 30px;
        padding-right: 30px;
    }

    @media (max-width: $breakpointXsmallMax) {
        padding-left: 15px;
        padding-right: 15px;
        margin: 0;

        .uk-card-body {
            max-width: 100%;
            padding: 30px 20px;
        }
    }
}
