.explore-section {
    position: relative;
    margin-top: -60px;
    min-height: calc(50vw + 510px);

    .circle,
    .circle-bckg {
        height: calc(50vw + 510px);
        overflow: hidden;
        position: absolute;
        top: 0;
    }

    .circle {
        left: 0;
        width: calc(50vw + 180px);

        .uk-background-cover {
            background-color: rgba($blue-mid, .9);
            height: calc(50vw + 150px);
            width: calc(50vw + 150px);
            border: 55px solid $lime;
            border-radius: 50%;
            left: -150px;
            top: 150px;
            z-index: 1;
            position: absolute;
            content: '';
        }
    }

    .circle-bckg {
        z-index: -1;
        width: calc(50vw + 510px);
        height: calc(50vw + 510px);
        left: -330px;
        background-color: $blue-lightest;
        border-radius: 50%;
    }

    @media (max-width: $breakpointMedium) {
        margin-top: 155px;
        min-height: 0;
        padding-bottom: 935px;

        .circle {
            width: 100%;
            top: auto;
            bottom: 160px;

            .uk-background-cover {
                width: 735px;
                height: 735px;
                left: 50%;
                transform: translateX(-50%);
                border-width: 45px;
                bottom: 0;
                top: auto;
            }
        }

        .circle-bckg {
            width: 1010px;
            height: 1010px;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            top: auto;
        }
    }

    @media (max-width: $breakpointSmall) {
        padding-bottom: 530px;
        margin-top: 80px;

        .circle {
            bottom: 90px;

            .uk-background-cover {
                width: 425px;
                height: 425px;
                border-width: 25px;
            }
        }

        .circle-bckg {
            width: 580px;
            height: 580px;
        }
    }
}

.explore-map {
    width: 54%;
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-29%);
    display: inline-block;
    z-index: 2;

    path {
        fill: $white;
        transition: $nbSec ease-in-out;
    }

    a {
        position: relative;
        z-index: 2;

        @include hover {

            path {
                fill: $lime;
            }
        }
    }

    @media (max-width: $breakpointMedium) {
        width: 100%;
        max-width: 66%;
        left: 50%;
        transform: translate(-50%, -45%);
        top: 50%;
    }

    @media (max-width: $breakpointSmall) {
        max-width: 70%;
    }
}

.explore-wrap {
    >.uk-flex {
        min-height: calc(50vw + 510px);
    }

    @media (max-width: $breakpointMedium) {
        >.uk-flex {
            min-height: 0;
        }
    }
}

.explore-text {
    left: 8px;
    position: relative;
    width: 50%;
    padding-left: 24px;

    h2 {
        font-size: 54px;
    }

    .uk-text-lead {
        margin-bottom: 40px;
    }

    p:last-of-type {
        margin-bottom: 50px;
    }

    a {
        padding-right: 82px;
        padding-left: 35px;

        &:first-of-type {
            margin-right: 20px;

            &::before {
                content: font-char($map);
            }
        }
    }

    @media (max-width: $breakpointLarge) and (min-width: $breakpointMedium) {
        a {
            padding-right: 30px;
            padding-left: 15px;

            &::before {
                font-size: 12px;
                right: 10px;
            }

            &:first-of-type {
                margin-right: 5px;
            }
        }
    }

    @media (max-width: $breakpointMedium) {
        left: 0;
        width: 100%;
        padding-left: 0;
        text-align: center;

        >.uk-flex {
            justify-content: center;
        }

        h2 {
            font-size: 44px;
            margin-bottom: 15px;
        }

        .uk-text-lead {
            font-size: 20px;
            margin-bottom: 25px;
        }

        p {
            font-size: 18px;

            &:last-of-type {
                margin-bottom: 40px;
            }
        }
    }

    @media (max-width: $breakpointSmall) {
        h2 {
            font-size: 34px;
        }

        .uk-text-lead {
            font-size: 16px;
        }

        p {
            font-size: 14px;
        }

        >.uk-flex {
            flex-direction: column;
            align-items: center;

            a {
                padding: 4px 40px 6px 30px;
                max-width: 280px;
                width: 100%;

                &:first-of-type {
                    margin-right: 0;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

.explore-map-title {
    padding: 9px 40px;
    background-color: $lime;
    color: $blue-darker;
    font-size: 16px;
    position: absolute;
    border-radius: 50px;
    display: none;
    font-weight: $bold;
    transform: translate(-70%, -250%);
    z-index: 3;

    &::before {
        position: absolute;
        width: 0;
        height: 0;
        content: '';
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        border-style: solid;
        border-width: 12px 11px 0;
        border-color: $lime transparent transparent;
    }

    @media (max-width: $breakpointMedium) {
        transform: translate(-65%, -250%);
    }

    @media (max-width: $breakpointSmall) {
        transform: translate(-127%, -170%);
    }
}
