.newsletter {
    margin-bottom: 85px;

    .uk-card {
        border-radius: 40px;
        padding: 50px 55px 70px 50px;
    }

    h2 {
        font-size: 34px;
        padding: 0 40px 0 90px;
        max-width: 31%;
        width: 100%;
        margin-bottom: 0;
        position: relative;
        line-height: 1;

        img {
            position: absolute;
            top: 0;
            left: 0;
            max-width: 60px;
            height: auto;
            margin-right: 25px;
        }
    }

    p {
        font-size: 16px;
        margin: 12px 0 0;
    }

    .uk-button {
        margin-left: 55px;
        margin-top: 10px;
        padding-left: 40px;
    }

    @media (max-width: $breakpointMediumMax) {
        .uk-card {
            padding: 75px 40px 45px 45px;

            >.uk-flex-between {
                flex-direction: column;
            }
        }

        h2 {
            max-width: 100%;
            margin-bottom: 20px;
            padding-right: 0;

            img {
                margin-right: 0;
                top: -28px;
            }
        }

        p {
            margin-right: 60px;
        }

    }

    @media (max-width: $breakpointXsmallMax) {
        .uk-card {
            padding: 30px 20px;
            text-align: center;

            >.uk-flex {
                flex-direction: column;
                justify-content: flex-start;

                >.uk-flex-between {
                    flex-direction: column;
                }
            }
        }

        h2 {
            max-width: 100%;
            margin-bottom: 15px;
            padding-left: 0;
            flex-direction: column;
            span {
                display: block;
            }

            img {
                top: auto;
                left: auto;
                position: relative;
                margin: 0 auto;
                display: block;
                margin-bottom: 10px;
            }
        }

        p {
            margin-bottom: 25px;
            margin-right: 0;
        }

        .uk-button {
            margin-left: 0;
            max-width: 220px;
            width: 100%;
        }
    }
}
