@font-face {
	font-family: 'svgicons';
	src: url('../fonts/svgicons.woff2') format('woff2'),
		url('../fonts/svgicons.woff') format('woff'),
		url('../fonts/svgicons.ttf') format('truetype');
		font-display: swap;
}

@mixin font-styles {
	font-family: 'svgicons';
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
	display: block;
	line-height: 1;
}

%font {
	@include font-styles;
}

@function font-char($filename) {
	$char: "";

	@if $filename == arrow-right {
		$char: '\E001';
	}
	@if $filename == book {
		$char: '\E002';
	}
	@if $filename == briefcase {
		$char: '\E003';
	}
	@if $filename == calendar {
		$char: '\E004';
	}
	@if $filename == car-battery {
		$char: '\E005';
	}
	@if $filename == car-club {
		$char: '\E006';
	}
	@if $filename == charger {
		$char: '\E007';
	}
	@if $filename == chevron-down {
		$char: '\E008';
	}
	@if $filename == chevron-left {
		$char: '\E009';
	}
	@if $filename == chevron-right {
		$char: '\E00A';
	}
	@if $filename == chevron-up {
		$char: '\E00B';
	}
	@if $filename == close {
		$char: '\E00C';
	}
	@if $filename == comment {
		$char: '\E00D';
	}
	@if $filename == dots-bg {
		$char: '\E00E';
	}
	@if $filename == drive {
		$char: '\E00F';
	}
	@if $filename == electric-vehicles {
		$char: '\E010';
	}
	@if $filename == envelope {
		$char: '\E011';
	}
	@if $filename == external-icon {
		$char: '\E012';
	}
	@if $filename == facebook {
		$char: '\E013';
	}
	@if $filename == FLEX-wifi-waves {
		$char: '\E014';
	}
	@if $filename == heating-smaller {
		$char: '\E015';
	}
	@if $filename == heating {
		$char: '\E016';
	}
	@if $filename == home-batteries {
		$char: '\E017';
	}
	@if $filename == info {
		$char: '\E018';
	}
	@if $filename == instagram-logo {
		$char: '\E019';
	}
	@if $filename == join {
		$char: '\E01A';
	}
	@if $filename == lightbulb {
		$char: '\E01B';
	}
	@if $filename == linkedin {
		$char: '\E01C';
	}
	@if $filename == mail {
		$char: '\E01D';
	}
	@if $filename == map {
		$char: '\E01E';
	}
	@if $filename == newsletter {
		$char: '\E01F';
	}
	@if $filename == orkney-map-regions {
		$char: '\E020';
	}
	@if $filename == phone {
		$char: '\E021';
	}
	@if $filename == play-button-arrowhead {
		$char: '\E022';
	}
	@if $filename == quote {
		$char: '\E023';
	}
	@if $filename == radius {
		$char: '\E024';
	}
	@if $filename == road {
		$char: '\E025';
	}
	@if $filename == rounded-corner-left {
		$char: '\E026';
	}
	@if $filename == rounded-corner-right {
		$char: '\E027';
	}
	@if $filename == signup {
		$char: '\E028';
	}
	@if $filename == solar-energy {
		$char: '\E029';
	}
	@if $filename == tachometer {
		$char: '\E02A';
	}
	@if $filename == turbine-tidal {
		$char: '\E02B';
	}
	@if $filename == turbine-wind {
		$char: '\E02C';
	}
	@if $filename == twitter {
		$char: '\E02D';
	}
	@if $filename == user-home {
		$char: '\E02E';
	}
	@if $filename == wpforms {
		$char: '\E02F';
	}
	@if $filename == youtube {
		$char: '\E030';
	}

	@return $char;
}

@mixin font($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %font;
		} @else {
			@include font-styles;
		}
		content: font-char($filename);
	}
}

[class*='font-ico'] {
	display: inline-block;
}

.font-arrow-right {
	@include font(arrow-right);
}
.font-book {
	@include font(book);
}
.font-briefcase {
	@include font(briefcase);
}
.font-calendar {
	@include font(calendar);
}
.font-car-battery {
	@include font(car-battery);
}
.font-car-club {
	@include font(car-club);
}
.font-charger {
	@include font(charger);
}
.font-chevron-down {
	@include font(chevron-down);
}
.font-chevron-left {
	@include font(chevron-left);
}
.font-chevron-right {
	@include font(chevron-right);
}
.font-chevron-up {
	@include font(chevron-up);
}
.font-close {
	@include font(close);
}
.font-comment {
	@include font(comment);
}
.font-dots-bg {
	@include font(dots-bg);
}
.font-drive {
	@include font(drive);
}
.font-electric-vehicles {
	@include font(electric-vehicles);
}
.font-envelope {
	@include font(envelope);
}
.font-external-icon {
	@include font(external-icon);
}
.font-facebook {
	@include font(facebook);
}
.font-FLEX-wifi-waves {
	@include font(FLEX-wifi-waves);
}
.font-heating-smaller {
	@include font(heating-smaller);
}
.font-heating {
	@include font(heating);
}
.font-home-batteries {
	@include font(home-batteries);
}
.font-info {
	@include font(info);
}
.font-instagram-logo {
	@include font(instagram-logo);
}
.font-join {
	@include font(join);
}
.font-lightbulb {
	@include font(lightbulb);
}
.font-linkedin {
	@include font(linkedin);
}
.font-mail {
	@include font(mail);
}
.font-map {
	@include font(map);
}
.font-newsletter {
	@include font(newsletter);
}
.font-orkney-map-regions {
	@include font(orkney-map-regions);
}
.font-phone {
	@include font(phone);
}
.font-play-button-arrowhead {
	@include font(play-button-arrowhead);
}
.font-quote {
	@include font(quote);
}
.font-radius {
	@include font(radius);
}
.font-road {
	@include font(road);
}
.font-rounded-corner-left {
	@include font(rounded-corner-left);
}
.font-rounded-corner-right {
	@include font(rounded-corner-right);
}
.font-signup {
	@include font(signup);
}
.font-solar-energy {
	@include font(solar-energy);
}
.font-tachometer {
	@include font(tachometer);
}
.font-turbine-tidal {
	@include font(turbine-tidal);
}
.font-turbine-wind {
	@include font(turbine-wind);
}
.font-twitter {
	@include font(twitter);
}
.font-user-home {
	@include font(user-home);
}
.font-wpforms {
	@include font(wpforms);
}
.font-youtube {
	@include font(youtube);
}
