.nb-main {
	nav {
		margin-top: -20px;
		position: relative;
		z-index: 1;

		ul {
			background-color: $blue;
			border-radius: 20px;
			padding: 17px 30px;

			li:not(:first-of-type) {
				margin-left: 10px;
			}

			a {
				color: $white;
				border-radius: 25px;
				font-weight: $bold;
				font-size: 18px;
				padding: 7px 20px 10px;
				text-align: center;
				display: inline-block;

				@include hover {
					background-color: $lime;
					color: $blue-darker;
				}
			}
		}
	}

	@media (max-width: $breakpointLarge) {
		nav ul {
			justify-content: center;
		}
	}

	@media (max-width: $breakpointMedium) {
		nav {
			ul {
				padding: 17px 15px;

				a {
					padding: 9px 10px;
					font-size: 16px;
				}
			}
		}
	}
	@media (max-width: $breakpointMobile) {
		nav {
			margin-top: 20px;
		}
	}
}

.nb-main-internal {
	h2 {
		font-size: 34px;
	}

	h3 {
		font-size: 26px;
	}
}

.uk-text-lead {
	font-family: $ubuntu;
	font-weight: $light;
	font-size: 26px;
	color: $blue;
	margin-bottom: 45px;
}

.nb-block {
	clear: both;
	margin: $nbSpace 0;

	&:first-of-type {
		margin-top: 0;
	}

	> :last-child {
		margin-bottom: 0;
	}

	[data-uk-lightbox] a {
		cursor: pointer;
	}

	&-content {

		p,
		li {
			>a:not(.uk-accordion-title) {
				color: $blue;
				font-weight: normal;
				position: relative;
				display: inline-block;
				z-index: 0;

				&::after {
					content: '';
					position: absolute;
					z-index: -1;
					width: 100%;
					height: 2px;
					left: 0;
					bottom: 0;
					background-color: $lime-dark;
					transition: inherit;
				}

				@include hover {
					text-decoration: none;
					color: $white;

					&::after {
						height: 100%;
					}
				}
			}

			a[target="_blank"] {
				padding-right: 20px;

				&::before {
					right: 0;
					top: 65%;
					position: absolute;
					font-family: 'svgicons';
					content: font-char($external-link);
					font-size: 14px;
					transform: translateY(-50%);
				}
			}
		}

		ol li {
			&:last-of-type {
				margin-bottom: 25px;
			}

			>.uk-list-disc {
				margin-bottom: 25px;
			}
		}

		.uk-list-disc {
			font-family: $ubuntu;
			font-weight: $light;
			color: $blue;
			font-size: 20px;
			list-style-type: none;
			padding-left: 25px;
			margin-bottom: 40px;

			li {
				position: relative;
				margin-bottom: 10px;

				&::after {
					position: absolute;
					left: -20px;
					top: 13px;
					width: 6px;
					height: 6px;
					background-color: $lime;
					border-radius: 50%;
					content: '';
				}

				a::after {
					left: 24px;
					width: calc(100% - 24px);
				}
			}

			strong {
				font-weight: $bold;
			}
		}

		figure {
			display: table;
			margin-top: 0;
			outline: none;

			a {
				cursor: zoom-in;
				display: block;
				width: 100%;
			}

			img {
				display: block;
				border-radius: 10px;
				height: auto;

				@media (max-width: $breakpointMobile) {
					width: 100%;
				}
			}
		}

		figcaption {
			caption-side: bottom;
			display: table-caption;
			font-size: 0.8rem;
			padding: 12px;
			text-align: center;
			font-family: $ubuntu;
			font-style: italic;
			color: $blue;
		}

		.align_right {
			float: right;
			margin-bottom: $nbSpace;
			margin-left: $nbSpace;
		}

		.align_left {
			float: left;
			margin-bottom: $nbSpace;
			margin-right: $nbSpace;
		}

		.align_center {
			clear: both;
			margin: $nbSpace auto;
			text-align: center;
		}

		.figure-large {
			a {
				cursor: zoom-in;
				display: block;
				width: 100%;

				img {
					border-radius: 20px;
				}
			}

			figcaption {
				display: block;
				margin-top: 20px;
				text-align: left;

				.title {
					font-size: 14px;
				}

				.credit {
					position: relative;
					font-size: 13px;
					margin-left: 35px;
					color: $blue-pastel;

					&::after {
						position: absolute;
						content: '';
						left: -15px;
						width: 1.5px;
						background-color: $blue-pastel;
						height: 14px;
						top: 50%;
						transform: translateY(-50%);
					}
				}
			}
		}

		.uk-accordion {
			>:nth-child(n+2) {
				margin-top: 20px;
			}

			>li {
				background-color: $white;
				box-shadow: 0 -1px 30px -13px rgba($blue, .2);
				border-radius: 10px;
				position: relative;

				&::after {
					position: absolute;
					left: 5px;
					width: 5px;
					content: '';
					top: 1px;
					bottom: 1px;
					border-top-left-radius: 10px;
					border-bottom-left-radius: 10px;
					box-shadow: -4px 0 0 0 $lime;
				}

				.uk-accordion-title {
					font-weight: $bold;
					color: $blue;
					font-size: 20px;
					text-transform: uppercase;
					position: relative;
					padding: 30px 35px 27px 44px;

					&::before {
						color: $lime;
						position: absolute;
						font-family: 'svgicons';
						right: 40px;
						content: font-char($chevron-down);
						float: none;
						background-image: none;
						font-weight: 100;
						transition: $nbSec ease-in-out;
						width: 1em;
						height: 1em;
						top: 50%;
						transform: translateY(-50%);
					}

					&.large {
						font-size: 22px;
					}
				}

				&.uk-open {
					.uk-accordion-title {
						padding: 30px 35px 23px 44px;
					}

					a:not(.uk-button)::before {
						transform: rotate(180deg) translateY(-50%);
						top: 40%;
					}
				}
			}

			.uk-accordion-content {
				padding: 0 40px 30px 44px;
				margin-top: 0;

				p {
					font-size: 18px;
					color: $blue;
				}
			}

			.accordion-text {
				padding-right: 30px;
			}

			@media (max-width: $breakpointSmall) {

				li .uk-accordion-title {
					padding: 30px 35px 27px 40px;

					&:not(.large) {
						padding: 30px 47px 27px 40px;
					}

					&::before {
						right: 25px;
						top: 55%;
					}

					&.large:not(.uk-button)::before {
						top: 54%;
					}
				}

				>li {
					&.uk-open {
						.uk-accordion-title {
							padding: 30px 35px 23px 40px;
						}

						a:not(.uk-button)::before {
							top: 26%;
						}

						a.large:not(.uk-button)::before {
							top: 29%;
						}
					}
				}

				.uk-accordion-content {
					padding: 0 20px 15px 40px;
				}
			}
		}

		@media (max-width: $breakpointMobile) {

			.align_right,
			.align_left,
			.align_center {
				clear: both;
				float: none;
				margin: $nbSpaceSmall 0;
				width: 100%;
			}
		}

		.TextformatterVideoEmbed {
			margin: $nbSpace 0;
		}
	}

	&-gallery {

		h2 {
			margin-bottom: 30px;
		}

		.nb-gallery-images {
			margin: 0 -$nbGutterXsmall;

			.nb-gallery-row {
				display: table;
				width: 100%;

				.nb-gallery-image {
					border: $nbGutterXsmall solid transparent;
					display: table-cell;
					margin: 0;
					outline: none;
					position: relative;
					vertical-align: top;

					img {
						height: auto;
						width: 100%;
						vertical-align: middle;
						transition: inherit;
						position: relative;
					}

					@include hover {
						z-index: 2;

						img {
							transform: scale(1.05);
							box-shadow: 0 25px 55px 0 rgba($blue, .4);
						}
					}
				}

				&:first-of-type {
					.nb-gallery-image {
						&:first-of-type img {
							border-top-left-radius: 30px;
						}

						&:last-of-type img {
							border-top-right-radius: 30px;
						}
					}
				}

				&:last-of-type {
					.nb-gallery-image {
						&:first-of-type img {
							border-bottom-left-radius: 30px;
						}

						&:last-of-type img {
							border-bottom-right-radius: 30px;
						}
					}
				}
			}

			.uk-container-expand & {
				margin: 0 $nbGutterXsmall;
			}
		}
	}

	&-slideshow {
		.uk-slideshow {
			border-radius: 20px;

			li {
				border-radius: 20px;
				overflow: hidden;

				a {
					width: 100%;

					img {
						border-radius: 20px;
					}
				}
			}
		}

		.uk-overlay-primary {
			background-color: transparent;
			padding: 20px;
			position: relative;
			pointer-events: none;

			span {
				position: relative;
				font-size: 16px;
				font-weight: $light;
				font-family: $ubuntu;
				z-index: 1;
				color: $white;
			}

			&::before {
				background: linear-gradient(to top, $blue 0%, transparent 100%);
				bottom: 0;
				left: 0;
				width: 100%;
				height: 100px;
				content: '';
				position: absolute;
				z-index: 0;
			}
		}

		.uk-slidenav {
			border-radius: 50px;
			width: 58px;
			height: 58px;
			transition: $nbSec ease-in-out;

			svg {
				display: none;
			}

			&::before {
				position: absolute;
				font-size: 26px;
				top: 60%;
				left: 50%;
				transform: translate(-50%, -50%);
				color: $white;
				transition: inherit;
				font-family: 'svgicons';
				font-size: 26px;
			}

			@include hover {
				background-color: $blue;
				text-decoration: none;
			}
		}

		.uk-slidenav-previous {

			&::before {
				content: font-char($chevron-left);
			}
		}

		.uk-slidenav-next {

			&::before {
				content: font-char($chevron-right);
			}
		}

		@media (max-width: $breakpointSmall) {
			.uk-slidenav {
				width: 48px;
				height: 48px;
				margin: 5px;
				max-width: calc(100% - (5px * 2));
				transform: translateY(-50%) translateY(-5px);

				&::before {
					font-size: 20px;
				}
			}
		}
	}

	&-form {
		max-width: 730px;
		padding-right: 5px;
		padding-bottom: 280px;

		h2 {
			margin-bottom: 5px;
		}

		*+.uk-grid-margin-small,
		.uk-grid+.uk-grid-small,
		.uk-grid-small>.uk-grid-margin {
			margin-top: 20px;
		}

		.nb-form-content {
			position: relative;

			ul {
				margin: 0 0 $nbGutterSmall;
				padding: 0;

				li {
					display: inline-block;
					list-style: none;
					width: 100%;
				}
			}

			.InputfieldRadiosFloated {

				li {
					padding-right: 1em;
					width: auto;
				}
			}
		}

		label,
		.nb-placeholder {
			color: $blue;
			padding-left: 20px;
		}

		.nb-placeholder {
			margin-bottom: 5px;
		}

		label {
			font-size: 14px;
			font-weight: $bold;
			text-transform: uppercase;

			i {
				margin-right: $nbGutterSmall;
			}
		}

		.nb-placeholder {
			font-size: 16px;
			font-family: $ubuntu;
			font-weight: $light;
			margin-top: -5px;
			display: block;
		}

		.uk-checkbox {

			+span:not(.checkmark) {
				display: inline-block;
				margin-left: $nbGutterSmall;
			}
		}

		.uk-radio {

			+span {
				display: inline-block;
				margin-left: $nbGutterSmall;
			}
		}

		.InputfieldToggle {

			.InputfieldToggleHelper {
				display: none !important;
			}
		}

		.nb-form-error {
			font-size: 0.875em;
			font-weight: 700;
			margin-bottom: $nbGutterSmall;

			.uk-icon {
				position: relative;
				top: -1px;
			}
		}

		p {
			font-size: 16px;
			margin: 35px 0 10px;
		}

		.uk-button {
			margin-top: 5px;
		}

		.g-recaptcha {
			margin-bottom: 1rem;
		}

		@media (max-width: $breakpointLarge) {
			max-width: 510px;
			padding-right: 20px;
		}

		@media (max-width: $breakpointMedium) {
			max-width: 100%;
			padding-right: 0;
		}
	}

	&-embed {
		iframe {
			width: 100%;
		}
	}
}

.uk-alert {
	border-radius: 20px;
	font-size: 18px;
	font-family: $ubuntu;
	color: $blue;
	font-weight: normal;
	box-shadow: 0 20px 35px -13px rgba($blue, .2);
	padding: 18px 30px 18px;
}

.uk-alert-primary {
	background-color: $blue-primary;
}

.uk-alert-success {
	background-color: $lime-success;
}

.uk-alert-warning {
	background-color: $orange-warning;
}

.uk-alert-danger {
	background-color: $red-danger;
}

.nb-copyright {
	color: $white;
	font-family: $ubuntu;
	font-weight: $light;
	font-size: 14px;
	margin-top: 10px;

	@media (max-width: $breakpointLarge) {
		&.desc {
			display: none;
		}
	}

	@media (max-width: $breakpointTabletPortraitMin) {
		max-width: 260px;
		text-align: center;
		padding: 0 20px;
		margin-top: 0;
	}
	@media (max-width: $breakpointXsmallMax) {
		max-width: 300px;
	}
}
