.nb-credit {
	color: $blue;
	font-family: $ubuntu;
	font-weight: $light;
	font-size: 14px;

	a {
		align-items: center;
		display: inline-flex;
		color: inherit;
		font-weight: $bold;
		align-items: center;

		@include hover {
			color: $nbRed;
			text-decoration: none;
		}

		img {
			height: 1rem;
			margin-left: 10px;
			width: auto;
		}
	}
	@media (max-width: $breakpointLarge) {
		margin-left: 50px;
	}
}
