.nb-slideshow {
    position: relative;

    h1 {
        color: $blue;
        margin-bottom: 30px;
    }

    .uk-container>.uk-grid {
        margin-left: -40px;
    }

    ul {
        min-height: 1215px !important;
    }

    li {
        width: 100%;
    }

    .slideshow-text-box,
    .slideshow-img-box {
        overflow: hidden;
    }

    .slideshow-text-box {
        height: 100vh;
    }

    .slideshow-img-box {
        position: absolute;
        width: calc(50vw + 150px);
        background-color: $lime;
        height: calc(50vw + 150px);
        max-width: 945px;
        max-height: 945px;
        border-radius: 50%;
        right: -145px;
        top: 55px;
        box-shadow: 0 0 0 200px $blue-lightest;
    }

    .slideshow-text,
    .slideshow-img {
        z-index: 1;

        &::after {
            position: absolute;
            content: '';
            z-index: 1;
            right: 0;
            width: 100%;
            top: 0;
            bottom: 0;
            display: block;
        }
    }

    .slideshow-text {
        left: 0;
        padding-top: 380px;
        width: 0;
        overflow: hidden;
        white-space: nowrap;
        max-width: 470px;
        animation: slideInText .8s ease .8s forwards;
        position: relative;

        h1 {
            max-width: 470px;
            min-width: 470px;
            white-space: normal;
        }

        p {
            margin-top: 0;
            max-width: 470px;
            min-width: 470px;
            white-space: normal;
        }
    }

    .uk-button-primary {
        color: $blue-darker;
        margin-top: 30px;
        z-index: 2;

        &::before {
            width: 50px;
            height: 50px;
            background-color: $blue;
            border-radius: 50%;
            right: 10px;
            color: $white;
            padding-left: 15px;
            line-height: 50px;
        }
    }

    .slideshow-img {
        position: absolute;
        left: 55px;
        bottom: 55px;
        top: 55px;
        border-radius: 50%;
        width: calc(100% - 110px);

        &::after {
            background-color: $lime;
            animation: slideIn .8s ease 1.2s forwards;
        }
    }

    .uk-active {

        .slideshow-text {
            animation: slideInText .8s ease .8s forwards;
        }

        .slideshow-img::after {
            animation: slideIn .8s ease 1.2s forwards;
        }
    }

    .uk-slidenav-container {
        width: 140px;
        height: calc(50vw + 150px);
        max-height: 945px;
        top: 55px;
        position: absolute;
        right: 674px;

        >div {
            clip-path: url(#slide-nav);
            top: 50%;
            transform: translateY(-50%);
            height: 70px;
            background-color: $white;
            position: absolute;
            width: 140px;
        }
    }

    .uk-slidenav {
        background-color: $white;
        height: 100%;
        width: 70px;
        transition: $nbSec ease-in-out;

        svg {
            display: none;
        }

        &::after {
            position: absolute;
            font-family: 'svgicons';
            font-size: 20px;
            color: $blue;
            left: 50%;
            transform: translate(-50%, -50%);
            top: 50%;
        }

        &:first-of-type {
            clip-path: url(#slide-nav-left);
            z-index: 2;

            &::after {
                content: font-char($chevron-left);
            }
        }

        &:last-of-type {
            width: 72px;
            z-index: 0;

            &::after {
                content: font-char($chevron-right);
            }
        }

        @include hover {
            background-color: $blue;

            &::after {
                color: $white;
            }
        }

        &.uk-active {
            background-color: $blue;

            &::after {
                color: $white;
            }
        }
    }

    .dots-bg {
        top: 340px;
    }

    @media (max-width: $breakpointXlarge) {
        .uk-slidenav-container {
            right: calc(50vw - 122px);
            height: 50vw;
            top: 125px;
        }

        .slideshow-text {
            padding-top: 260px;
            max-width: 520px;

            h1 {
                max-width: 520px;
                min-width: 520px;
            }

            p {
                max-width: 460px;
                min-width: 460px;
            }
        }
    }

    @media (max-width: $breakpointLarge) {
        ul {
            min-height: calc(50vw + 360px) !important;
        }

        .slideshow-img-box {
            box-shadow: 0 0 0 115px $blue-lightest;
            top: 90px;
            right: -170px;
        }

        .slideshow-img {
            left: 30px;
            bottom: 30px;
            top: 30px;
            width: calc(100% - 60px);
        }

        .slideshow-text-box {
            margin-left: 10px;
        }

        .slideshow-text {
            max-width: 310px;
            padding-top: 200px;

            h1,
            p {
                max-width: 310px;
                min-width: 310px;
            }

            h1 {
                font-size: 54px;
                margin-bottom: 15px;
            }

            p {
                font-size: 18px;
            }
        }

        .uk-button-primary {
            margin-top: 10px;
        }

        .uk-slidenav-container {
            height: calc(50vw + 150px);
            top: 90px;
        }

        .dots-bg {
            top: auto;
            bottom: -20px;
        }
    }

    @media (max-width: $breakpointTabletPortraitMin) {
        ul {
            min-height: 1115px !important;
        }

        .slideshow-img-box {
            position: relative;
            width: calc(100vw - 80px);
            height: calc(100vw - 80px);
            right: auto;
            top: 70px;
            box-shadow: 0 0 0 75px $blue-lightest;
            margin-bottom: 65px;
        }

        .slideshow-img {
            width: calc(100% - 30px);
            left: 15px;
            bottom: 15px;
            top: 15px;
        }

        .uk-slidenav-container {
            height: calc(100vw - 80px);
            top: 70px;
            right: auto;
            left: 50%;
            width: 100px;
            transform: translateX(-50%);

            >div {
                top: 100%;
                transform: translateY(-100%);
                height: 48px;
                width: 100%;
            }
        }

        .uk-slidenav {
            width: 50px;

            &::after {
                font-size: 18px;
            }

            &:first-of-type {
                clip-path: none;
            }

            &:last-of-type {
                width: 50px;
            }
        }

        .slideshow-text-box {
            width: 100%;
            max-width: 590px;
            margin: 0 auto;
        }

        .slideshow-text {
            padding-top: 10px;
            max-width: 560px;
            text-align: center;

            h1,
            p,
            >div {
                max-width: 560px;
                min-width: 560px;
            }
        }

        .uk-button-primary {
            max-width: 290px;
            width: 100%;
        }
    }

    @media (max-width: $breakpointSmall) {
        ul {
            min-height: 935px !important;
        }

        .uk-container>.uk-grid {
            margin-left: -30px;
        }

        .uk-container {
            padding-left: 15px;
            padding-right: 15px;
        }

        .slideshow-img-box {
            width: calc(100vw - 40px);
            height: calc(100vw - 40px);
            margin-left: 5px;
        }

        .slideshow-text-box {
            max-width: 460px;
        }

        .slideshow-text {
            max-width: 430px;

            h1,
            p,
            >div {
                max-width: 430px;
                min-width: 430px;
            }

            h1 {
                font-size: 34px;
            }

            p {
                font-size: 14px;

                &:not(:last-of-type) {
                    margin-bottom: 7px;
                }
            }

            .uk-button-primary {
                margin-top: 0;
                font-size: 18px;
                padding: 4px 20px 6px 30px;
                line-height: 38px;

                &::before {
                    width: 35px;
                    height: 35px;
                    font-size: 12px;
                    padding-left: 13px;
                    line-height: 35px;
                }
            }
        }

        .uk-slidenav-container {
            height: calc(100vw - 40px);
        }

        .dots-bg {
            bottom: 45px;
        }
    }

    @media (max-width: $breakpointMobile) {
        ul {
            min-height: 795px !important;
        }

        .slideshow-text-box {
            max-width: 320px;
        }

        .slideshow-text {
            max-width: 290px;

            h1,
            p,
            >div {
                max-width: 290px;
                min-width: 290px;
            }
        }
    }

    @media (max-width: $breakpointMobileSmall) {
        ul {
            min-height: 695px !important;
        }
    }
}

@keyframes slideIn {
    0% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}

@keyframes slideInText {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}
