.header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 100;
    padding-top: 15px;

    .uk-container-large {
        max-width: 1420px;
    }

    .uk-navbar-right {
        flex-direction: column;
    }

    .navbar-top {
        width: 100%;
        padding: 0 40px 12px 0;

        a {
            font-size: 14px;
            color: $blue;
            position: relative;

            &::before {
                position: absolute;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: $blue;
                content: '';
                transition: $nbSec ease-in-out;
                opacity: 0;
                bottom: 2px;
            }

            &:not(:first-of-type) {
                margin-left: 25px;
            }

            @include hover {
                &::before {
                    opacity: 1;
                }
            }
        }

        abbr {
            text-decoration: none;
        }
    }

    .navbar-bottom {
        padding: 0 0 20px;

        .uk-navbar-item {
            min-height: 0;
        }
    }

    .uk-button-secondary {
        min-width: 215px;
    }

    .uk-navbar-toggle {
        background-color: $blue;
        border-radius: 50%;
        width: 56px;
        min-width: 56px;
        height: 56px;
        min-height: 56px;
        color: $white;
        padding: 0;
        margin-left: 15px;
        position: relative;
        z-index: 1002;

        span,
        span::before,
        span::after {
            position: absolute;
            display: block;
            height: 3px;
            transition: none;
            background-color: $white;
            animation: burgerIconAnimate 4s ease 3s forwards;
        }

        span {
            left: 50%;
            top: 50%;
            width: 18px;
            transform: translate(-50%, -50%);

            &::after,
            &::before {
                content: '';
                width: 100%;
                left: 0;
            }

            &::after {
                top: -7px;
            }

            &::before {
                top: 7px;
            }
        }
    }

    @media (max-width: $breakpointXlarge) {
        .uk-container-large {
            padding-left: 10px;
            padding-right: 40px;
        }

        .uk-button {
            min-width: 200px;
        }

        .nb-nav.nb-nav-desktop {
            padding-right: 3px;
        }

        .navbar-top {
            padding-right: 18px;
        }
    }

    @media (max-width: $breakpointSmall) {
        padding-top: 13px;

        .uk-container-large {
            padding-left: 8px;
            padding-right: 9px;
        }

        .uk-navbar-toggle {
            width: 48px;
            height: 48px;
        }
    }
}

.nav-open-animation {
    .uk-navbar-toggle {
        animation: toggleAnimate .6s linear forwards;

        span,
        span::before,
        span::after {
            transition: .6s ease;
            height: 6px;
            border-radius: 50px;
        }

        span {
            background-color: transparent;
            width: 26px;

            &::before,
            &::after {
                background-color: $lime;
                top: 0;
            }

            &::before {
                transform: rotate(45deg);
            }

            &:after {
                transform: rotate(-45deg);
            }
        }
    }

    @media (max-width: $breakpointSmall) {
        .uk-navbar-toggle {

            span,
            span::before,
            span::after {
                height: 4px;
            }

            span {
                width: 17px;
            }
        }
    }
}

@keyframes burgerIconAnimate {
    0% {
        z-index: 1005;
    }

    100% {
        z-index: 0;
    }
}

@keyframes toggleAnimate {
    0% {
        background-color: rgba($blue, .9);
    }

    50% {
        background-color: $white;
    }

    100% {
        background-color: $blue;
    }
}
