@media screen and (-ms-high-contrast: active),
screen and (-ms-high-contrast: none) {

    .nb-nav.nb-nav-desktop .uk-navbar-nav .mega-menu .uk-nav-dropdown a {
        @include hover {
            background-color: $blue-lightest-3;

            span::after {
                width: 100px;
                height: 100px;
            }

            span::before {
                width: 100%;
                height: 100%;
            }
        }
    }

    .nb-slideshow {
        .uk-slidenav-container>div {
            background-color: transparent;
        }

        .uk-slidenav {
            &:first-of-type {
                border-top-left-radius: 50px;
                border-bottom-left-radius: 50px;
            }

            &:last-of-type {
                border-top-right-radius: 50px;
                border-bottom-right-radius: 50px;
            }
        }
    }

    .latest-news-services .latest-news-inner .uk-card-body .uk-svg {
        width: 60px;
    }

    .newsletter .uk-card>.uk-flex-between>.uk-flex-between {
        width: 68%;
    }

    .about-text {
        padding-top: 270px;
    }

    .explore-section {
        padding-top: 400px;
    }

    .why-section,
    .banner.banner-map {

        .circle-bckg,
        .multiply {
            overflow: hidden;

            &::after {
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: 100%;
                z-index: 1;
                content: '';
            }
        }
    }

    .why-section {
        padding-top: 230px;

        .circle-bckg::after {
            background-color: rgba($lime, .5);
        }
    }

    .banner.banner-map .multiply::after {
        background-color: rgba($blue, .5);
    }

    .banner .banner-inner {
        padding-top: 340px;
    }

    .process .arrow::before {
        transform: translate(-50%, -45%);
    }

    .footer-contact .link {
        @include hover {
            &::after {
                max-height: 18px;
            }
        }
    }

    .explore-map {
        top: 41%;
        height: 100%;
    }

    .process-container::before {
        width: calc(100% - 50px);
        left: 50px;
    }

    .process-middle {
        display: none;
    }

    .values .uk-svg {
        height: 75px;
        display: inline-block;
    }

    .values .uk-card {
        @include hover {
            .uk-svg {
                height: 40px;
            }
        }
    }

    .nb-block .nb-table {

        thead {
            background-color: $blue;
        }

        th {
            font-family: $ubuntu;
            font-weight: $bold;
            font-size: 12px;
            color: $white;
            padding: 19px 23px;

            &:first-of-type {
                border-top-left-radius: 10px;
            }

            &:last-of-type {
                border-top-right-radius: 10px;
            }
        }

        tbody tr {
            &:nth-of-type(odd) {
                background-color: $white;
            }

            &:nth-of-type(even) {
                background-color: $blue-table-light;
            }

            &:last-of-type {
                td {
                    &:first-of-type {
                        border-bottom-left-radius: 10px;
                    }

                    &:last-of-type {
                        border-bottom-right-radius: 10px;
                    }
                }
            }
        }

        td {
            padding: 13px 23px;
            font-size: 16px;
            color: $blue;

            &:first-of-type {
                font-weight: $bold;
                max-width: 190px;
                width: 190px;
            }
        }

        @media (max-width: $breakpointMedium) {
            &.uk-table {
                min-width: 750px;
            }
        }
    }

    .map-filter .uk-dropdown .uk-svg {
        height: 30px;
        width: 30px;
    }
}
