//
// Theme
//

@import "_variables.scss";
@import "_mixins.scss";

// Base
@import 'base/fonts.scss';
@import 'base/typography.scss';

// Layout / Helpers
@import 'layout/_icon-font.scss';
@import 'helpers/helpers.scss';
@import 'layout/buttons.scss';
@import 'layout/forms.scss';

// UIkit
@import "uikit/base.scss";
@import "uikit/utility.scss";
@import "uikit/navbar.scss";
@import "uikit/breadcrumb.scss";
@import "uikit/form.scss";

// NB
@import "nb/nav.scss";
@import "nb/table.scss";
@import "nb/block.scss";
@import "nb/cookie.scss";
@import "nb/responsive.scss";
@import "nb/file-icon.scss";
@import "nb/legal.scss";
@import "nb/credit.scss";
@import "nb/json.scss";
@import "nb/slideshow.scss";
@import "nb/switcher.scss";
@import "nb/widget.scss";
@import "nb/promo.scss";

// Modules
@import 'modules/banner.scss';
@import 'modules/basic-block.scss';
@import 'modules/slider.scss';
@import 'modules/team-list.scss';
@import 'modules/enquiry-section.scss';
@import 'modules/news-section.scss';
@import 'modules/latest-news.scss';
@import "modules/ads.scss";
@import "modules/process.scss";
@import "modules/values.scss";
@import "modules/newsletter.scss";
@import "modules/about-section.scss";
@import "modules/explore-section.scss";
@import "modules/why-section.scss";
@import "modules/map-section.scss";

// Theme
@import "theme/base.scss";
@import "theme/header.scss";
@import "theme/footer.scss";
@import "theme/ie11.scss";
@import "theme/print.scss";


// uikit/utility
.uk-logo {
	padding: 0;
	min-height: 0;

	img {
		width: 245px;
		height: auto;
	}

	@media (max-width: $breakpointXlarge) and (min-width: $breakpointLarge) {
		img {
			width: 200px;
		}
	}

	@media (max-width: $breakpointSmall) {
		position: relative;
		top: -14px;
		img {
			width: 145px;
		}
	}
}

// theme/footer
.footer {
	font-size: 0.9rem;

	@media (max-width: $breakpointMobile) {
		font-size: 0.8rem;
	}
}

.uk-container-small {
	max-width: 790px;
}

.uk-container {
	@media (max-width: $breakpointMediumMax) {
		padding-left: 40px;
		padding-right: 40px;
	}

	@media (max-width: $breakpointXsmallMax) {
		padding-left: 20px;
		padding-right: 20px;
	}
}
